![](images/nfldfs-banner.png)

![nfldfs](../images/nfldfs_banner.png)

# Welcome
`nfldfs` is a simple package you can use to scrape historical NFL daily fantasy points and salary data for DraftKings, FanDuel, and Yahoo!. I'm a big fan of the [r/dfssports](https://www.reddit.com/r/dfsports/) subreddit and was inspired to produce this package after reading all of the posts from people looking for ways to get data.

The purpose of this notebook is to show you how to get up and running quickly with importing the package and scraping some data.

## Available Data

Regular season data (weeks 1-17) is available for the following fantasy games:

            ==============  ============
            DraftKings       2014-2019
            FanDuel          2011-2019
            Yahoo!           2016-2019
            ==============  ============

## Data Dictionary

The following fields are returned with each request as a [pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html).

            ==============  =========================================================
            gid             Unique id for each player (int)
            week            The week number (int)
            year            The season number (int)
            player_name     Full player name, [Last Name, First Name] (str)
            position        Player position, e.g. QB, TE, and Def (str)
            team_name       Team the player is member of, abbreviation (str)
            home_or_away    Identifies if a player was home or away (str)
            opponent_name   Opponent name, abbreviation (str)
            points          Total daily fantasy points scored (float)
            salary          Daily fantasy salary, site specific (float)
            dfs_site        Value indicating which dfs site the data relates to (str)
            ==============  ==========================================================

## Importing the package

This is assumimg you've already installed the package. If not, refer to the installation instructions in the **README**.

In [12]:
# Working in Documents/nfldfs:
from nfldfs import games as games

The **games** module uses two functions to scrape points and salary information: `find_games()` and `get_game_data()`.

`find_games()` is where you'll specify the following:
+ DFS site
+ season numbers
+ and week numbers

`get_game_data()` sends the requests, formats data, returns a DataFrame object

In [11]:
# For more information you can read the function documentation
#help(games)

### Usage

Currently the package only supports scraping one fantasy site at a time. In order to get all available data for each site you would need to call `find_games()` three separate times. This was done intentionally in order to keep the package simple and because it's difficult to account for every possible situation people could want.

### Examples

In [34]:
# Get data for a single season and single week
fd = games.find_games(dfs_site='fd', 
                      season_from=2016, 
                      week_from=1)
fd_2016 = games.get_game_data(game_urls=fd)

In [28]:
# Preview the results
print(f'Retrieved {fd_2016.shape[0]} rows of FanDuel data for week 1 of the 2016 season\n')

# Check a sample of rows
fd_2016.sample(5)

Retrieved 425 rows of FanDuel data for week 1 of the 2016 season

,week,year,player_name,position,team_name,home_or_away,opponent_name,points,salary,dfs_site
gid,,,,,,,,,,
5344,1,2016,"Moncrief, Donte",WR,ind,h,det,15.4,6200,fd
2820,1,2016,"Jones, Taiwan",RB,oak,a,nor,1.9,4500,fd
5402,1,2016,"Rawls, Thomas",RB,sea,h,mia,7.3,7400,fd
5406,1,2016,"Ripkowski, Aaron",RB,gnb,a,jac,0.0,4500,fd
5386,1,2016,"Lockett, Tyler",WR,sea,h,mia,3.2,6200,fd

In [31]:
# Get data for multiple seasons and a single week
dk = games.find_games(dfs_site='dk', 
                     season_from=2018,
                     week_from=5,
                     season_to=2019)
dk_2018_2019 = games.get_game_data(game_urls=dk)

In [33]:
# Sample to make sure there's data for both fantasy sites
dk_2018_2019.groupby('year').apply(lambda row: row.sample(3))

           week  year     player_name position team_name home_or_away  \
year gid
2018 4726     5  2018   Saubert, Eric       TE       atl            a
     5287     5  2018   Snead, Willie       WR       bal            a
     5409     5  2018    Nelson, J.J.       WR       ari            a
2019 4706     5  2019    Smith, Jonnu       TE       ten            h
     5756     5  2019  Willis, Damion       WR       cin            h
     5461     5  2019   Sharpe, Tajae       WR       ten            h

          opponent_name  points  salary dfs_site
year gid
2018 4726           pit     1.8    2500       dk
     5287           cle    10.5    3900       dk
     5409           sfo     0.0    3000       dk
2019 4706           buf     6.7    2700       dk
     5756           ari     7.8    3000       dk
     5461           buf     2.2    3100       dk

In [39]:
# Get Yahoo! data for a full season
yh = games.find_games(dfs_site='yh',
                     season_from=2018,
                     week_from=1,
                     week_to=17)

yh_2018 = games.get_game_data(game_urls=yh)

In [40]:
print(f'Yahoo! data for the entire 2018 season: {yh_2018.shape[0]} rows')

Yahoo! data for the entire 2018 season: 6769 rows

In [48]:
# Sample for each week
yh_2018.groupby('week').apply(lambda row: row.sample(1))

,,week,year,player_name,position,team_name,home_or_away,opponent_name,points,salary,dfs_site
week,gid,,,,,,,,,,
1,5151,1,2018,"Hilton, T.Y.",WR,ind,h,cin,13.10,26.0,yh
2,1413,2,2018,"Foles, Nick",QB,phi,a,tam,15.66,26.0,yh
3,5640,3,2018,"Hamilton, DaeSean",WR,den,a,bal,0.00,10.0,yh
4,5475,4,2018,"Higgins, Rashard",WR,cle,a,oak,8.10,11.0,yh
5,4697,5,2018,"Manhertz, Chris",TE,car,h,nyg,0.00,10.0,yh
6,4573,6,2018,"Reed, Jordan",TE,was,h,car,6.10,20.0,yh
7,4551,7,2018,"Allen, Dwayne",TE,nwe,a,chi,0.00,10.0,yh
8,2553,8,2018,"Peterson, Adrian",RB,was,a,nyg,26.10,26.0,yh
9,4535,9,2018,"Smith, Lee",TE,oak,a,sfo,0.00,10.0,yh
10,5167,10,2018,"Hogan, Chris",WR,nwe,a,ten,0.00,16.0,yh
11,5498,11,2018,"Davis, Trevor",WR,gnb,a,sea,0.00,10.0,yh
12,5660,12,2018,"Newsome, Detrez",RB,lac,h,ari,1.50,10.0,yh
13,5370,13,2018,"Allen, Javorius",RB,bal,a,atl,0.00,11.0,yh
14,2721,14,2018,"Blount, LeGarrette",RB,det,a,ari,4.10,19.0,yh
15,5089,15,2018,"Jones, Julio",WR,atl,h,ari,17.20,29.0,yh
16,7008,16,2018,Cleveland,Def,cle,h,cin,4.00,13.0,yh
17,5433,17,2018,"Jennings, Darius",WR,ten,h,ind,3.20,10.0,yh

In [58]:
# Having the data in a DataFrame makes it easy to export as a .csv
yh_2018.to_csv('yahoo_2018.csv', index=False)

### Exceptions

The **utils** module ensures that search arguments are valid. The following examples illustrate some of the exceptions that can get raised. Refer to `utils.py` for more information.

In [52]:
# Import utils
from nfldfs import utils as utils

In [57]:
# Invalid dfs site
utils.game_parameters_validator(dfs_site='dd',
                               season_from=2019,
                               season_to=2019,
                               week_from=1,
                               week_to=1)

Exception: Invalid dfs site

In [56]:
# Seasons out of range for the specific site
utils.game_parameters_validator(dfs_site='fd',
                               season_from=2009,
                               season_to=2015,
                               week_from=1,
                               week_to=1)

Exception: Season From 2009 is out of scope of the valid seasons for this site: [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]